<h1>List of users</h1>
<form action="/new_user">
  <label for="username">Username</label>
  <input id="username" type="text" name="input_username" placeholder="Enter a username...">
  <button>Add user</button>
</form>
<hr>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th></th>
  </tr>
  <% User.all.order({ :username => :asc }).each do |user|%>
  <tr>
    <td><%=user.id%></td>
    <td><%=user.username%></td>
    <td><a href="/users/<%=user.username%>">Show details</a></td>
  </tr>
  <% end %>
</table>
